version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: alfa_db
      POSTGRES_USER: alfa
      POSTGRES_PASSWORD: alfa_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  web:
    build: .
    command: gunicorn alfa_trade.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_DB=alfa_db
      - POSTGRES_USER=alfa
      - POSTGRES_PASSWORD=alfa_pass
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      - db
volumes:
  postgres_data:
